#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Basic Pranic Healing
            %p.item-intro.text-muted
              For full details visit:
              = link_to 'Pranic Healing Foundation of the Philippines Courses', 'http://www.pranichealing.com.ph/courses/'
            = image_tag 'basic.jpg', class:'img-responsive img-centered'
            %p This course will introduce you to the basic principles surrounding the science and art of Pranic Healing. The Basic Pranic Healing course involves the manipulation of the energy body (aura) and energy centers (chakras) that control the Physiological, Psychological, and Spiritual states of a person. You will be taught basic pranic healing skills to bring down fever in just a few minutes, and heal minor ailments like headaches, colds, asthma, stomachache, and stress-related ailments. Major illnesses like eye, kidney, and heart problems can be relieved in a few sessions.
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Window

  / Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Advanced Pranic Healing
            %p.item-intro.text-muted
              For full details, please visit:
              = link_to 'Pranic Healing Foundation of the Philippines Courses', 'http://www.pranichealing.com.ph/courses/'
            = image_tag 'advanced.jpg', class:'img-responsive img-centered'
            %p
              Once you have learned the fundamentals of Pranic Healing, this course will deepen your learning and skills. At the advanced level, you are taught the power and purpose of color prana for gaining better results, especially in treating severe illnesses. Using color prana, you become a specialist instead of a general practitioner.
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Window

/ Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Pranic Psychotherapy
            %p.item-intro.text-muted
              For full details, please visit:
              = link_to 'Pranic Healing Foundation of the Philippines Courses', 'http://www.pranichealing.com.ph/courses/'

            = image_tag 'psycho.jpg', class:'img-responsive img-centered'

            %p
              Besides healing the physical body, Pranic Healing also deals with the psychological state of a person. Pranic Psychotherapy bridges the gap between the mind, the physical body, and the human energy system.

            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Window

/ Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Pranic Crystal Healing
            %p.item-intro.text-muted
              For full details, please visit:
              = link_to 'Pranic Healing Foundation of the Philippines Courses', 'http://www.pranichealing.com.ph/courses/'

            = image_tag 'crystal.jpg', class:'img-responsive img-centered'
            %p In medicine, it is important for a doctor to be knowledgeable in the use of different medical devices. The same principle can be applied in Pranic Healing. Sometimes, you need special tools to be able to intensify the effect for healing treatments. Crystals are known to be great conduits for energy.
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Window

/ Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Pranic Crystal Healing
            %p.item-intro.text-muted
              For full details, please visit:
              = link_to 'Pranic Healing Foundation of the Philippines Courses', 'http://www.pranichealing.com.ph/courses/'

            = image_tag 'aohs.jpg', class:'img-responsive img-centered'
            %p Ancient meditations, kept secret for centuries, are revealed and taught to the public for the first time. These techniques allow you to accelerate the union of your incarnated soul (often described as the personality or lower self) with your Higher Soul (Higher Self). This phenomenon is known as Soul-Realization, Enlightenment, or Self-Realization.
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Window