%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{:href => "#page-top"}
        = image_tag 'logo.png'
        %span.logo-text Pranic Healing Northern Luzon

    .navbar-collapse.collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a{href:'#page-top'}
        %li
          %a.page-scroll{href:'#services'} Services

        %li
          %a.page-scroll{href:'#portfolio'} Courses

        %li
          %a.page-scroll{href:'#about'} About

        %li
          %a.page-scroll{href:'#contact'} Contact

        %li
          %a.page-scroll{href:'#testimonials'} Testimonials


%header
  .container
    .intro-text
      .intro-lead-in Welcome to Pranic Healing Northern Luzon!
      .intro-heading It's Nice to Meet You!
      %a.page-scroll.btn.btn-xl{href:'#services'} Tell Me More


%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Services
        %h3.section-subheading.text-muted
          For lists of services and events by the Pranic Healing Foundation of the Philippines, please visit
          = link_to 'the events page', 'http://www.pranichealing.com.ph/events', target:'_blank'
          of the main website.


    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-home.fa-stack-1x.fa-inverse
        %h4.service-heading
          Healing, Orientation, Meditation, Enlightenment (HOME)
        %p.text-muted
          Wednesdays, 6pm to 8:30pm @ 2A Brent Road, Baguio City

      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-heart.fa-stack-1x.fa-inverse
        %h4.service-heading
          Daily Meditations (Meditation on Twin Hearts)
        %p.text-muted
          Weekdays 6pm to 7pm @ 2A Brent Road, Baguio City

      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-child.fa-stack-1x.fa-inverse
        %h4.service-heading
          Arhatic Meditations
        %p.text-muted
          Tuesdays 5pm, Saturdays 6pm @ 2A Brent Road, Baguio City

    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-circle-o.fa-stack-1x.fa-inverse
        %h4.service-heading
          Twin Hearts Meditation (Every Full Moon)
        %p.text-muted
          6pm @ 2A Brent Road, Baguio City

      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-fire.fa-stack-1x.fa-inverse
        %h4.service-heading
          Pranic Feng Shui and Etheric Leansing of Home, Office and Businesses
        %p.text-muted
          by appointment, please
          = link_to 'contact us', '#contact'


%section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Courses
        %p.section-subheading.text-muted
          The following are the courses offered in either the Region 1 or the Northern Luzon center. For
          more courses offered by the Pranic Healing Foundation of the Philippines, please visit any of these links:
          = link_to 'Higher Courses', 'http://www.pranichealing.com.ph/courses/higher/', target:'_blank'
          ,
          = link_to 'Spiritual Courses', 'http://www.pranichealing.com.ph/courses/spiritual/', target:'_blank'



    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{href:'#portfolioModal1', data:{toggle:'modal'}}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x

          = image_tag 'basic.jpg', class:'img-responsive img-thumbnail'

        .portfolio-caption
          %h4 Basic Pranic Healing
          %p.text-muted Introduction

      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{href:'#portfolioModal2', data:{toggle:'modal'}}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x

          = image_tag 'advanced.jpg', class:'img-responsive img-thumbnail'

        .portfolio-caption
          %h4 Advanced Pranic Healing
          %p.text-muted Color Pranas and Phsyiological Healing

      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{href:'#portfolioModal3', data:{toggle:'modal'}}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x

          = image_tag 'psycho.jpg', class:'img-responsive img-thumbnail'

        .portfolio-caption
          %h4 Pranic Psychotherapy
          %p.text-muted Psychological Healing

    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{href:'#portfolioModal4', data:{toggle:'modal'}}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x

          = image_tag 'crystal.jpg', class:'img-responsive img-thumbnail'

        .portfolio-caption
          %h4 Pranic Crystal Healing
          %p.text-muted Healing with Crystals

      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{href:'#portfolioModal5', data:{toggle:'modal'}}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x

          = image_tag 'aohs.jpg', class:'img-responsive img-thumbnail'

        .portfolio-caption
          %h4 Achieving Oneness with the Higher Soul
          %p.text-muted Ancient Meditations, Soul Realization, Enlightenment and Self-Realization

%section#about
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading About
        %h3.section-subheading.text-muted
          For more information about pranic healing, please visit the
          = link_to 'the main website.', 'http://pranichealing.com.ph/about/'
    .row
      .col-lg-12
        %ul.timeline
          %li
            .timeline-image
              = image_tag 'about/what.jpg', class:'img-circle img-responsive'

            .timeline-panel
              .timeline-heading
                %h4 What is Pranic Healing
              .timeline-body
                %p.text-muted Pranic Healing is described as the science and art of using energy to heal the body. All things are made of energy. Yet if there are disturbances to the energy bodies of an individual, 'dis-ease' will follow. What Pranic Healing does is to cleanse, energize and balance the energy systems, thereby promoting wellness and good health on all levels … physically, emotionally, mentally, and spiritually.

          %li.timeline-inverted
            .timeline-image
              = image_tag 'about/master.jpg', class:'img-circle img-responsive'
            .timeline-panel
              .timeline-heading
                %h4 Our Founder
              .timeline-body
                %p.text-muted Born in Cebu, Philippines, on August 15, 1952, Master Choa Kok Sui is the originator of modern Pranic Healing. Since ancient times, sages and mystics have been practicing the ideologies similar to Pranic Healing. However, it was through Master Choa Kok Sui’s tireless research, culminating in the book Miracles of Pranic Healing, that the practice of Pranic Healing was modernized and spread worldwide.

          %li
            .timeline-image
              = image_tag 'about/master2.jpg', class:'img-circle img-responsive'
            .timeline-panel
              .timeline-heading
                %h4 Our History
              .timeline-body
                %p.text-muted Established in 2002, the Pranic Healing Foundation of the Philippines (PHFP) is a non-stock, non-profit organization. Established by Grand Master Choa Kok Sui, the founder of modern Pranic Healing, it is one of the many branches of the World Pranic Healing Foundation.

          %li.timeline-inverted
            .timeline-image
              = image_tag 'about/foundation.jpg', class:'img-circle img-responsive'
            .timeline-panel
              .timeline-heading
                %h4 Charitable Foundations
              .timeline-body
                %p.text-muted
                  Grand Master Choa Kok Sui, in his desire to help humanity, established this charitable institution to help people in need all over the world through the tithes and resources of grateful students for the priceless teachings and blessings he shared with them.
                  For more details, please visit:
                  = link_to 'this link', 'http://pranichealing.com.ph/about/', target:'_blank'
                  ="."

%section#contact
  .container
    .row{style: 'margin-top: 60px'}
      .col-lg-6.col-lg-push-3
        .quick-contacts
          %h1 Contact Us
          %p
            Northern Luzon Center
            %br
            Jane: 0947-450-2037 |
            Len: 0927-203-8752

          %p
            Northern Luzon Pranic Healing Center:
            2A Brent Road, Baguio City

%section#testimonials
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Testimonials
        %h3.section-subheading Hear what others have to say!
    .row
      - if @members.present? && @members.objects.any?
        - @members.objects.each do |m|
          - m = m.to_properties
          .col-md-6.testimonial-container
            %blockquote.testimonial
              %p= m.testimonial.html_safe
            .arrow-down
            .testimonial-author
              .row
                .col-sm-3
                  .testimonial-author-picture
                    = image_tag m.thumb, class: 'img-circle img-thumbnail'
                .col-sm-9
                  = "#{m.name} | "
                  %span
                    = m.title.html_safe

%footer
  .container
    .row
      .col-md-4
        %span.copyright Copyright &copy; Pranic Healing Foundation of the Philippines 2014

      .col-md-4
        %ul.list-inline.social-buttons
          %li
            %a{:href => "https://www.youtube.com/channel/UC2myvK61cHn9BxgSzfB7peg", target: '_blank'}
              %i.fa.fa-youtube
          %li
            %a{:href => "https://www.facebook.com/pranicphilippines", target: '_blank'}
              %i.fa.fa-facebook

= render 'portfolios'